.text-primary{
    color: #0f0f0f!important;
    font-weight: bold;
    font-family: 'Playfair Display', serif;   
}

.text-primary-a{
    color: #f7f1f1!important;
    font-family: 'Playfair Display', serif;   
}


.text-primary-b{
    color: rgb(143, 143, 143);
    font-family: 'Playfair Display', serif;   
}
.btn-primary{
    color: #fff;
    background-color: #050607;
    border-color: #050607;
}
.txt-color{
    color:#050607 ;
}



.height{
    height: 200px;
}


.height-a{
    height: 870px;
    background-color: grey;
}

.height-b{
    height: 620px;
   


}
.height-c{
    height: 410px;
    background-color: black;
}
.height-d{
    font-family:'Playfair Display', serif ;
    font-weight: bold;
}
.height-e{
    height: 500px;
    background-color: black;
}


p span{
    font-family:'Playfair Display', serif ;
    font-weight: bold;
}


figcaption {
    position: absolute ; 
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7)  ;
    left: 5px;
    right: 200px;
    bottom: 5px;
    color: white;
    font-size: 12px;
    

    
}
figure {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
}
.footer-a{  
    height: 70px; 
     
}
.line{
    margin-top: 1px; 


}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 20px;
}

